SMTP_HOST=s92.goserver.host
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=info@raumeleganz-spanndecken.de
SMTP_PASS=zircog-9surkY-wiwdeq

CONTACT_TO_EMAIL=info@raumeleganz-spanndecken.de
MAIL_FROM=info@raumeleganz-spanndecken.de

